body {
  background:rgb(20, 20, 20);
  font-family: 'Karla', sans-serif;
  overflow-x:hidden;
  background-position: center;
}

.background-image-container {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image: url('bg.jpg');
  margin:0;
  padding:0;
}

.searchbar-container {
  position:absolute;
  top:35%;
  left:50%;
  transform:translate(-50%,-50%);
  height:60px;
  line-height:60px;
  width:35vw;
  margin:0;
  padding:0 30px;
  background:rgb(228, 228, 228);
  border-radius:30px;
}

.searchbar-container input {
  background:none;
  height:60px;
  line-height:60px;
  position:relative;
  float:left;
  width:90%;
  margin:0 10px;
  padding:0;
  font-size:1.5em;
  color:rgb(53, 53, 53);
  border:none;
  font-family: 'Karla', sans-serif;
  outline:none;
}

.suggestions-container {
  position:absolute;
  top:40%;
  left:50%;
  transform:translateX(-50%);
}

.suggestions-outer {
  width:calc(28vw + 80px);
  margin:0;
  padding:0;
  overflow:auto;
  background:rgb(228, 228, 228);
  border-radius:20px;
}

.suggestion {
  position:relative;
  float:left;
  width:100%;
  height:50px;
  line-height:50px;
  text-align:center;
  font-size:1.5em;
}

.suggestion a {
  text-decoration:none;
  color:rgb(53, 53, 53);
}

.suggestion-active {
  background: #2E3460;
  background: rgb(72, 81, 148);
  background:rgb(43, 107, 190);
  background:rgb(55, 140, 252);

}

.suggestion-active a {
  color:#eee;
}

.remove-suggestion {
  position:absolute;
  right:0;
  top:50%;
  transform:translate(-200%, -50%);
  font-size:1em;
  color:rgb(165, 165, 165);
  text-align:center;
  height:1.5em;
  line-height:1.5em;
  margin:0;
  padding:0;
  cursor:pointer;
  transition:color .1s linear;
}

.suggestion-active .remove-suggestion {
  color:rgb(230, 230, 230);
}

.remove-suggestion:hover {
  color:rgb(255, 102, 102);
}

.links-container {
  max-width:calc(28vw + 80px);
}

a.link-outer {
  display:block;
  text-decoration:none;
  position:relative;
  float:left;
  margin:10px;
  height:7vw;
  width:7vw;
}

div.link-icon {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:4vw;
  width:4vw;
  border-radius:50%;
  background:rgb(228, 228, 228);
  cursor:pointer;
  overflow:hidden;
}

div.link-icon::before {
  content: '';
  position:absolute;
  height:140%;
  width:140%;
  background:rgb(44, 44, 44);
  transform:rotate(45deg);
  top:90%;
  left:-110%;
}

div.link-icon:hover::before {
  animation:slide .4s 1;
  top:-10%;
  left:-10%;
}

@keyframes slide {
  0%{
      top:90%;
      left:-110%;
  }50%{
      top:-60%;
      left:30%;
  }100%{
      top:-10%;
      left:-10%;
  }
}

div.link-icon-inner {
  margin:0;
  padding:0;
  height:4vw;
  width:4vw;
  position:relative;
}

div.link-icon img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:40px;
  transition:0.1s ease-in-out;
}

div.link-icon:hover img {
  transform:translate(-50%,-50%) scale(1.2);
  filter: grayscale(85%);    
}

div.link-label {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  height:1.3em;
  line-height:1.3em;
  color:#eee;
  font-size:1em;
}

.widget {
  top: 20px;
  left: 20px;
  position: fixed;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.05s;
}
.widget.align-right {
  left: initial;
  right: 20px;
  text-align: right;
}
.widget.align-bottom {
  top: initial;
  bottom: 20px;
}

.font-3em {
  font-size: 3em;
}

.font-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
}